{% extends "base.html" %}
{% block title %}文本识别体验{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}

    <div class="content">
            <div class="text-white-bg-darkblue">
                <h1>文本识别体验</h1>
                <p>基于多年的行业经验积累，针对文本审核场景，提供个性化优化配置及定制检测方案。多场景多类文本内容及属性识别，选择适用。</p>
            </div>
            <br>
            <button class="btn">免费试用</button>
            <hr>
            <div class="feature-intro">
                <h2>功能介绍</h2>
                <div class="features">
                    <div class="feature">
                        <img src="../static/images/icon/审核_audit.svg" alt="智能审核">
                        <p>智能审核</p>
                        <p>文本信息中包含淫秽、色情、暴恐、虐待等违反相关法律有关特征信息。</p>
                    </div>
                    <div class="feature">
                        <img src="../static/images/icon/广告_ad.svg" alt="广告过滤">
                        <p>广告过滤</p>
                        <p>文本信息中包含广告宣传，为推广的第三方有偿信息。</p>
                    </div>
                    <div class="feature">
                        <img src="../static/images/icon/终止文件_termination-file.svg" alt="违法检测">
                        <p>违法检测</p>
                        <p>文本信息中包含国家法律法规禁止的相关信息。</p>
                    </div>
                    <div class="feature">
                        <img src="../static/images/icon/重点文件_file-focus.svg" alt="敏感检测">
                        <p>敏感检测</p>
                        <p>文本信息中包含侵犯国家利益、道德，影响社会安定等政治敏感内容。</p>
                    </div>
                    <div class="feature">
                        <img src="../static/images/icon/人身安全_people-safe.svg" alt="暴恐识别">
                        <p>暴恐识别</p>
                        <p>文本信息中包含暴恐、凶杀、虐待等违反相关法律有关特征信息。</p>
                    </div>
                    <div class="feature">
                        <img src="../static/images/icon/警示文件_file-tips.svg" alt="谩骂识别">
                        <p>谩骂识别</p>
                        <p>文本信息中涉及人身攻击恶意辱骂、低俗不文明用语。</p>
                    </div>
                    <div class="feature">
                        <img src="../static/images/icon/异常_abnormal.svg" alt="灌水识别">
                        <p>灌水识别</p>
                        <p>文本信息中包含大量无意义内容。</p>
                    </div>
                </div>
            </div>
            <div class="text-test-area">
                <h2>文本识别体验区</h2>
                <form method="POST">
                <textarea id="text-input" name="text-input" placeholder="输入或粘贴检测的文字，不超过600字">{{ text }}</textarea>
                <p class="char-count" id="char-count">还可输入 600 字</p>
                <button class="btn">开始检测</button>
                </form>
                {% if result %}
                <h2>分析结果:</h2>
                <h3>该文本包含的情绪可能为：</h3>
                <span class="result" id="result">{{ result }}</span>
                {% endif %}
            </div>
    </div>

{% endblock %}

{% block script %}

    <script>
        /* 实现还可输入字数的效果 */
        document.getElementById('text-input').addEventListener('input', function() {
            var maxLength = 600;
            var currentLength = this.value.length;
            var remaining = maxLength - currentLength;
            document.getElementById('char-count').textContent = '还可输入 ' + remaining + ' 字';
        });
        // 实现悬浮对应功能以及变色的效果
        $(document).ready(function() {
        $('.feature').hover(
            function() {
                $(this).css({
                    'background-color': '#1E90FF',
                    'color': '#F0F8FF'
                });
                $(this).find('img').css('filter', 'invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%)');
                $(this).find('p').css('color', '#F0F8FF');
            },
            function() {
                $(this).css({
                    'background-color': '',
                    'color': ''
                });
                $(this).find('img').css('filter', '');
                $(this).find('p').css('color', '');
            }
        );
    });
    </script>

{% endblock %}